version: "3.8"

services:
  web:
    build: .
    volumes:
      - static_volume:/app/staticfiles
      - ./db.sqlite3:/app/db.sqlite3   
    ports:
      - "8000:8000"
    environment:
      - DEBUG=0
      - SECRET_KEY=unsafe-secret-for-dev
      - DJANGO_SETTINGS_MODULE=personalblog.settings
      - DJANGO_ALLOWED_HOSTS=*
    tty: true

volumes:
  static_volume:
